{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "emotion",
    "syntax-dynamic-import",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-object-assign",
    "react-loadable/babel",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    ["transform-react-jsx", {"pragma":"h"}]
  ],
  "env": {
    "production": {
      "plugins": [
        ["emotion", {"hoist": true}]
      ]
    },
    "development": {
      "plugins": [
        ["emotion", {"sourceMap": true, "autoLabel": true}]
      ]
    }
  }
}
